<div class="container" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="1 1 auto">
        <mat-card>
          <mat-card-content>
            <div class="card-header">
              <h3>Budget</h3>
            <!-- Search-bar -->
              <div class="parent-div">
                <div class="search-dive">
                  <div class="search-bar">
                    <div class="search-container">
                      <span class="search-icon">
                      </span>
                        <mat-form-field appearance="outline">
                          <input (keyup)="applyFilter($event)" matInput placeholder="Search">
                        </mat-form-field>
                    </div>
                  </div>
                  <button mat-flat-button color="primary" class="btn" (click)="openCategoryDialog()">
                    <mat-icon>add</mat-icon>
                    Create Budget
                  </button>
                </div>
              </div>
            </div>
            <div class="mat-elevation-z8">
              <!--Table-->
              <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
        
                <!-- Budgeted Amount Column -->
                <ng-container matColumnDef="bugdeted_amount">
                  <th mat-header-cell *matHeaderCellDef> Budgeted Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.budget| currency:'R '}} </td>
                </ng-container>

                 <!-- Remaining Amount Column -->
                 <ng-container matColumnDef="remaining_amount">
                    <th mat-header-cell *matHeaderCellDef> Remaining Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.budget| currency:'R '}} </td>
                  </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr 
                  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!--Paginator-->
            <mat-paginator [pageSizeOptions]="[10, 20, 40, 100]"
                                 showFirstLastButtons
                                 aria-label="Select page of categories">
            </mat-paginator>
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
  </div>

