@import '../../../assets/common.scss';

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../../../assets/img/login-background.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-light {
  background-color: #f8f9fa; /* Light background color */
}

.container-fluid {
  padding: 0;
}

content[_ngcontent-ng-c1482306964] {
    padding: 0px !important;
  }
