/* Add this CSS to your global styles or component styles */
body {
  overflow: hidden; /* Disable scrolling */
}

.container-fluid {
  position: fixed; /* Fix the container position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Make the container full height of the viewport */
  overflow: hidden; /* Hide overflowing content */
  background-color: #ffffff;
}

/* Add any additional styles you need */
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../../../assets/img/login-bg.svg');
  background-size: cover;
  background-position: center center;
}

.content {
  padding: 0 !important;
}

/* Add this CSS to your global styles or component styles */
.header-top {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-container {
  max-width: 100px; /* Set the maximum width for the logo container */
}

.logo-container img {
  max-width: 100%; /* Make sure the logo image doesn't exceed its container width */
}

/* Styling for the row containing the Forgot Password link */
.forgot-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
/*Stretch the mat-form-field to fill the available space*/
.full-width {
  width: 100%;
}

/* Styling for the divider section */
.separator-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
}
.Panel-separator--left {
  margin-right: .5rem;
}
.Panel-separator--right {
  margin-left: .5rem;
}
.Panel-separator {
  display: inline-block;
  margin-top: .75rem;
  border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
  border-top: 1px solid #d5d9db;
  width: 40%;
  vertical-align: text-top;
}
