<div class="form-container mat-elevation-z5">
  <h3>Login</h3>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
   <div class="center margin-top">
      <button mat-flat-button color="primary" type="submit">Login</button>
   </div>
   <div id="g_id_onload"
     data-client_id="665872029748-ti438nrce2bbb5423jib26bt2dt7htj2.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200/auth/login"
     data-itp_support="true">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
    <span>
      New to our Platform? <a routerLink="auth/sign-up" class="sign-up-link">Sign Up</a>
    </span>
  </form>
</div>
  