<div class="dashboard-container">
  <h3>
    Dashboard
  </h3>

  <span>Quick Links</span>
  <div class="card-row">
    <mat-card class="dashed-box"  class="dashed-box">
      <mat-card-content>Add Category</mat-card-content>
    </mat-card>
    
    <mat-card class="dashed-box"  class="dashed-box">
      <mat-card-content>Add Bill</mat-card-content>
    </mat-card>
    <mat-card class="dashed-box"  class="dashed-box">
      <mat-card-content>Add Transaction</mat-card-content>
    </mat-card>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <!-- Recent Transactions -->
    <mat-grid-tile>
      <span>Recent Transactions</span>
      <!-- Add your content for Recent Transactions here -->
    </mat-grid-tile>

    <!-- Pie Chart -->
    <mat-grid-tile>
      <span>Pie Chart</span>
      <!-- Add your content for the Pie Chart here -->
    </mat-grid-tile>

    <!-- Pie Chart -->
    <mat-grid-tile>
      <span>Pie Chart</span>
      <!-- Add your content for the Pie Chart here -->
    </mat-grid-tile>

    <!-- Pie Chart -->
    <mat-grid-tile>
      <span>Pie Chart</span>
      <!-- Add your content for the Pie Chart here -->
    </mat-grid-tile>
  </mat-grid-list>

</div>