:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }  
  
h3 {
    color: #333;
}

.dashboard-container {
  width: 100%; 
  margin: 0 auto;
  padding: 20px; 
}
mat-card{
    align-items: center;
    margin-bottom: 20px;
    width: calc(33.33% - 10px); 
    margin-right: 5px;
}

table {
    width: 100%;
}

.card-row {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
  }

  .dashed-box{
    border: 2px dashed blue;
    width: calc(33.33% - 16px);
    box-sizing: border-box;
  }

  mat-grid-tile {
    border: 2px solid #ddd;
    box-sizing: border-box;
    padding: 20px;
  
    span {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      display: block;
      margin-bottom: 10px;
    }
  }

  