:root {
    --font-size-default: 1rem;
    --font-famaly-default: 'Poppins', sans-serif;
    --bs-accordion-btn-icon: url('./img/arrow-down.svg');
    --bs-accordion-btn-active-icon: url('./img/arrow-up.svg');
}