<div class="content">
  <span>Home / Transactions</span>
</div>
<div class="content" fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="1 1 auto">
      <mat-card>
        <mat-card-content>
          <div class="card-header">
            <h3>Transactions</h3>
          <!-- Search-bar -->
            <div class="parent-div">
              <div class="search-dive">
                <div class="search-bar">
                  <div class="search-container">
                    <span class="search-icon">
                    </span>
                      <mat-form-field appearance="outline">
                        <input (keyup)="applyFilter($event)" matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                  </div>
                </div>
                <button mat-flat-button color="primary" class="btn">
                  <mat-icon>add</mat-icon>
                  Add Transaction
                </button>
              </div>
            </div>
          </div>

          <!--Table and Paginator-->
          <div class="mat-elevation-z8">
           
          </div>
        
        </mat-card-content>
      </mat-card>
  </div>
</div>